// import icon
@import '//at.alicdn.com/t/font_2410206_kxwb6og9m5.css'

// plus 1rem
.sidebar-group a.sidebar-link
    padding-left: 2.75rem !important
.sidebar-group.is-sub-group > .sidebar-heading
    padding-left: 2.75rem !important
.sidebar-group.is-sub-group > .sidebar-group-items
    padding-left: 2rem !important

.blog-hero .hero-logo + h1
    background-color: #00ffff80;
    border-radius: 10px;
    padding: 10px;

.blog-hero .description
    background-color: #00ffff80;
    border-radius: 10px;
    padding: 0 10px;
// @require '~@mr-hope/vuepress-shared/styles/wrapper'
// .content__page-top
//   @extend $wrapper
//   position: sticky
//   top: 2rem
//   background-color: white
//   z-index: 10
